<h1>Employee Form</h1>
<form method="POST" action="/employee">
  <div>
    Name: <input name="name">
  </div>
  <div>
    Title: <input name="title">
  </div>
  <input type="submit" value="Save Employee">
</form>
